<form (ngSubmit)="save()" [formGroup]="saveForm"  ngNativeValidate>
    <mat-radio-group formControlName="share">
        <mat-radio-button value="group/user">Group/User</mat-radio-button>
        <mat-radio-button value="all">All</mat-radio-button>
    </mat-radio-group>
    <mat-label>Category</mat-label>
    <mat-select formControlName="category">
        <mat-option value="1">Category #1</mat-option>
        <mat-option value="2">Category #2</mat-option>
        <mat-option value="3">Category N</mat-option>
    </mat-select>
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
        <mat-option value="1">Group #1</mat-option>
        <mat-option value="2">Group #2</mat-option>
        <mat-option value="3">Group N</mat-option>
    </mat-select>
    <div class="input-container name-input-container">
        <label for="flyerName" trans>Flyer name</label>
        <input type="text" id="flyerName" formControlName="flyerName" value="{{flyerName}}">
    </div>
    <mat-label>Save as</mat-label>
    <mat-radio-group formControlName="saveType" required>
        <mat-radio-button [checked]="saveType==='completed'" value="6">Completed</mat-radio-button>
        <mat-radio-button [checked]="saveType==='draft'" value="1">Draft</mat-radio-button>
    </mat-radio-group>
    <button mat-stroked-button color="primary" class="save-button" trans>Close</button>
    <button mat-flat-button color="primary" class="save-button" trans>Save</button>
</form>
