<!--<div class="header">
    <div class="name" trans>Objects</div>
    <button class="close-button" mat-icon-button (click)="panelRef.close()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>-->
<div class="items-list" customScrollbar cdkDropList (cdkDropListDropped)="reorderObjects($event)">
    <div
            class="reorder-item-wrapper drag-item"
            *ngFor="let object of objects.getAll()"
            cdkDrag
            [cdkDragData]="object.data.id"
            cdkDragBoundary=".items-list"
            cdkDragLockAxis="y"
            [cdkDragDisabled]="shouldDisableObject(object)"
    >
        <div class="floating-panel-item"
             (click)="selectObject(object)"
             (dblclick)="openInput(object)"
             [class.disabled]="shouldDisableObject(object)"
             [class.active]="(activeObjId$ | async) === object.data.id"
             [attr.data-id]="object.data.id"
        >
            <!--<mat-icon [svgIcon]="getIcon(object)" class="list-icon"></mat-icon>-->
            <div class="name" trans *ngIf="!isRename(object)">{{getObjectDisplayName(object)}}</div>
            <div class="name" trans *ngIf="isRename(object)">
              <input type="text" (keydown.enter)="updateName(object, $event)">
            </div>
            <div class="drag-preview" *cdkDragPreview></div>
            <div class="drag-placeholder" *cdkDragPlaceholder>
                <div class="placeholder-inner"></div>
            </div>
            <ng-container *ngIf="object.type==='i-text' && isAdmin" > 
                <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'s'] === 'style'" [ngIfElse]="tStyle" >
                  <img class="block-open" [src]="getImageUrl('icons/individual/block-textstyle.svg')" (click)="blockSelectedObject(object, 'style')" matTooltip="Unlock Text Style">
                  </ng-template>
                <ng-template #tStyle>
                    <img class="block-open"  [src]="getImageUrl('icons/individual/textstyle.svg')" (click)="blockSelectedObject(object, 'style')" matTooltip="Lock Text Style">
                </ng-template>
                <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'c'] === 'color'" [ngIfElse]="tColors" >
                    <img class="block-open"  [src]="getImageUrl('icons/individual/block-colors.svg')" (click)="blockSelectedObject(object, 'color')" matTooltip="Unlock Color">
                  </ng-template>
                  <ng-template #tColors>
                      <img class="block-open"  [src]="getImageUrl('icons/individual/colors.svg')" (click)="blockSelectedObject(object, 'color')" matTooltip="Lock Color">
                </ng-template>
                
                <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'t'] === 'textsize'" [ngIfElse]="tTextsize" >
                  <img class="block-open"  [src]="getImageUrl('icons/individual/block-textsize.svg')" (click)="blockSelectedObject(object, 'textsize')" matTooltip="Unlock Color">
                </ng-template>
                <ng-template #tTextsize>
                    <img class="block-open"  [src]="getImageUrl('icons/individual/textsize.svg')" (click)="blockSelectedObject(object, 'textsize')" matTooltip="Lock Text size">
                </ng-template>
                <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'m'] === 'maxtext'" [ngIfElse]="tMaxtext" >
                  <label class="block-open maxtext"  for="" (click)="blockSelectedObject(object, 'maxtext')" matTooltip="Unlock Max characters">0</label>
                </ng-template>
                <ng-template #tMaxtext>
                  <label class="block-open maxtext" for="" (click)="blockSelectedObject(object, 'maxtext')" matTooltip="Lock Max characters">max</label>
                </ng-template>
                <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'x'] === 'xmappingtext'" [ngIfElse]="tMappingText" >
                  <img class="block-open"  [src]="getImageUrl('icons/individual/block-mapping.svg')" (click)="blockSelectedObject(object, 'xmappingtext')" matTooltip="Unlock Text mapping">
                </ng-template>
                <ng-template #tMappingText>
                  <img class="block-open"  [src]="getImageUrl('icons/individual/mapping.svg')" (click)="blockSelectedObject(object, 'xmappingtext')" matTooltip="Lock Text mapping">
                </ng-template>
            </ng-container>
            <ng-container *ngIf="object.type==='image' && isAdmin">
              <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'i'] === 'image'" [ngIfElse]="tImage" >
                <img class="block-open"  [src]="getImageUrl('icons/individual/block-image.svg')" (click)="blockSelectedObject(object, 'image')" matTooltip="Unlock image">
              </ng-template>
              <ng-template #tImage>
                  <img class="block-open"  [src]="getImageUrl('icons/individual/add-to-photos.svg')" (click)="blockSelectedObject(object, 'image')" matTooltip="Lock image">
              </ng-template>
              <ng-template [ngIf]="(blockedObject$ | async)[object.data.id.trim()+'y'] === 'ymappingimage'" [ngIfElse]="tMappingImage" >
                <img class="block-open"  [src]="getImageUrl('icons/individual/block-mapping.svg')" (click)="blockSelectedObject(object, 'ymappingimage')" matTooltip="">
              </ng-template>
              <ng-template #tMappingImage>
                  <img class="block-open"  [src]="getImageUrl('icons/individual/mapping.svg')" (click)="blockSelectedObject(object, 'ymappingimage')" matTooltip="">
              </ng-template>
            </ng-container>
            <ng-container *ngIf="isAdmin">
              <ng-template [ngIf]="object.lockScalingX || object.lockScalingY" [ngIfElse]="tSize" >
                <img class="block-open"  [src]="getImageUrl('icons/individual/block-size.svg')" (click)="blockSelectedObject(object, 'size')" matTooltip="Unlock size">
              </ng-template>
              <ng-template #tSize>
                  <img class="block-open"  [src]="getImageUrl('icons/individual/size.svg')" (click)="blockSelectedObject(object, 'size')" matTooltip="Lock size">
              </ng-template>
              <ng-template [ngIf]="object.lockMovementX || object.lockMovementY || object.lockRotation" [ngIfElse]="tPosition" >
                <img class="block-open"  [src]="getImageUrl('icons/individual/block-position.svg')" (click)="blockSelectedObject(object, 'position')" matTooltip="Unlock position">
              </ng-template>
              <ng-template #tPosition>
                  <img class="block-open"  [src]="getImageUrl('icons/individual/position.svg')" (click)="blockSelectedObject(object, 'position')" matTooltip="Lock position">
              </ng-template>
            </ng-container>
        </div>
    </div>
</div>
