<div class="header">
    <div class="name" trans>Objects</div>
    <button class="close-button" mat-icon-button (click)="panelRef.close()">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>
<div class="items-list" customScrollbar cdkDropList (cdkDropListDropped)="reorderObjects($event)">
    <div
            class="reorder-item-wrapper drag-item"
            *ngFor="let object of objects.getAll()"
            cdkDrag
            [cdkDragData]="object.data.id"
            cdkDragBoundary=".items-list"
            cdkDragLockAxis="y"
            [cdkDragDisabled]="shouldDisableObject(object)"
    >
        <div class="floating-panel-item"
             (click)="selectObject(object)"
             [class.disabled]="shouldDisableObject(object)"
             [class.active]="(activeObjId$ | async) === object.data.id"
             [attr.data-id]="object.data.id"
        >
            <mat-icon [svgIcon]="getIcon(object)" class="list-icon"></mat-icon>
            <div class="name" trans>{{getObjectDisplayName(object)}}</div>
            <div class="drag-preview" *cdkDragPreview></div>
            <div class="drag-placeholder" *cdkDragPlaceholder>
                <div class="placeholder-inner"></div>
            </div>
            <ng-container *ngIf="object.type==='i-text'" >
                <mat-icon class="block-open" (click)="blockSelectedObject(object, 'style')">                    
                    {{ (blockedObject$ | async)[object.data.id.trim()+'s'] === 'style'? 'lock' : "text_format" }}
                </mat-icon>
                <mat-icon class="block-open" (click)="blockSelectedObject(object, 'color')" >                      
                    {{ (blockedObject$ | async)[object.data.id.trim()+'c'] === 'color'? "invert_colors_off" : "invert_colors" }}
                </mat-icon>
                <mat-icon class="block-open" (click)="blockSelectedObject(object, 'textsize')" >
                    {{ (blockedObject$ | async)[object.data.id.trim()+'t'] === 'textsize'? "format_clear" : "format_size" }}
                </mat-icon>
            </ng-container>
            <mat-icon *ngIf="object.type==='image'"  class="block-open" (click)="blockSelectedObject(object, 'image')">
                {{ (blockedObject$ | async)[object.data.id.trim()+'i'] === 'image'? "lock" : "image" }}
            </mat-icon>
            <mat-icon class="block-open" (click)="blockSelectedObject(object, 'size')">
                {{ object.lockScalingX || object.lockScalingY  ? "lock" : "grid_on" }}
            </mat-icon>
            <mat-icon class="block-open" (click)="blockSelectedObject(object, 'position')">
                {{ object.lockMovementX || object.lockMovementY || object.lockRotation ? "lock" : "lock_open" }}
            </mat-icon>         
        </div>
    </div>
</div>
