@import "../../../../../scss/variables";

text-drawer {
  display: block;

  .font-selector-wrapper {
    margin-left: 25px;
  }

  .variants-selector {
    width: 100%;
    height: 50px;
    color: inherit;
    border: 1px solid #E0E0E0;
    padding: 12px;
    line-height: normal;
    font-size: 14px;
    font-family: inherit;
    background-color: inherit;
    box-sizing: border-box;
    border-radius: 4px;    
    margin-bottom: 27px;
  }

  text-font-selector {
    line-height: 48px;
    margin-bottom: 10px;
  }

  .add-text-button-wrapper {
    margin: 0 25px;
  }

  @media only screen and (max-width: $small) {
    overflow: hidden;

    &.controls-drawer {
      .content {
        flex-wrap: wrap;
      }

      .bottom-label {
        display: none;
      }

      .add-text-button-wrapper {
        margin-left: auto;
        margin-bottom: 5px;
      }

      .add-text-button {
        background-color: $site-accent-color;
        color: $site-text-color-100;
        border: none;
        @include mat-elevation(2);
        margin-bottom: 3px;
      }

      text-font-selector {
        margin-left: 0;
      }
    }
  }
}